.App {
  background-image: url('https://img.freepik.com/free-photo/lamp-design-with-fantasy-futuristic-syle_23-2151101558.jpg?size=626&ext=jpg&uid=R137161466&ga=GA1.2.875686905.1696020913&semt=sph');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: aquamarine;
}

p {
  color: aqua;
  font-size: 30px;
}

button {
  background-color: transparent;
  border: 2px solid aqua;
  border-radius: 30px;
  color: aquamarine;
  font-size: 20px;
}